<div class="adt-doc-mast" role="navigation" aria-label="Component and location in documentation">
  <button class="nav-toggle" type="button" aria-label="Toggle main navigation"></button>
  <div class="adt-doc-mast-center">
  {{> breadcrumbs}}
  </div>
</div>
